body {
    margin: 0px;
    background-color: bisque;
}
footer {
    background-color: darksalmon;
    color:black ;
    padding: 0.5 em;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
header {
    background-color: darksalmon;
    padding: auto;
    display: flex;
    justify-content: space-around; 
        
}
.container-arte > div {
    display: flex;
    justify-content: center;    
}
li {
    display: inline;
}
#inicio {
    text-align: center;
}
.container-inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}
#contactanos {
    text-align: start;
}
#elegir {
    
    background-color: cornsilk;
}
#elegir img {
    width: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#elegir h2 {
    margin: 0px;
    padding-top: 1em;
}
#elegir h2, #elegir h3 {
    text-align: center;
}
.container-formas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}
.container-formas > div {
    flex-basis: 100%;
    border: 1px solid black;
    margin-bottom: 2em;
    border-radius: 50px;

    display: flex;
    flex-flow: column nowrap;
}
#galeria {
    text-align: center;
}
.container-galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}
.contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.contacto-img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#container-contacto {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.pie {
    text-align: center;
}