body {
    margin: 0px;
    background-color: bisque;
}
footer {
    background-color: darksalmon;
    color: currentColor;
    padding: 0.5 em;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
header {
    background-color: darksalmon;
    color: aqua;
   
}
li {
    display: inline;
}
#inicio {
    text-align: center;
}
.contariner-inicio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}
#elegir {
    
    min-height: 100vh;
    background-color: cornsilk;
}
#elegir img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#elegir h2 {
    margin: 0px;
    padding-top: 1em;
}
#elegir h2, #elegir h3 {
    text-align: center;
}
.container-formas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.container-formas > div {
    flex-basis: 40%;
    border: 1px solid blue;
    margin-bottom: 2em;
    border-radius: 50px;

    display: flex;
    flex-flow: column nowrap;
}
#galeria {
    text-align: center;
}
.container-galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}
.contacto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.contacto img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#conteiner-contacto {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}
#conteiner-contacto ul {
    text-align: center;
}